<div class="columns is-multiline">
  {% for resource in collection %}
    {%- assign imagesource = metadata.bulmatown_theme.image_sizes.embed | default: "image" %}
    <div class="column is-full-mobile is-full-tablet is-half-desktop">
      <div class="box document-entry">
        {% if resource.image %}
          <figure class="image is-5by3">
            <a href="{{ resource.relative_url }}">
              <img src="{{ resource[imagesource] }}" />
            </a>
          </figure>
        {% endif %}
    
        <div class="content">
          <h3>
            <a class="is-decorationless" href="{{ resource.relative_url }}">
              {{ resource.title | smartify }}
            </a>
          </h3>
    
          {% if resource.subtitle and resource.subtitle != "" %}
            {% assign excerpt = resource.subtitle | smartify | prepend: "<p>" | append: "</p>" %}
          {% elsif resource.description and resource.description != "" %}
            {% assign excerpt = resource.description | smartify | prepend: "<p>" | append: "</p>" %}
          {% else %}
            {% assign excerpt = resource.excerpt %}
          {% endif %}
          {{ excerpt }}
          
          <p class="mt-5">
            {% render "bulmatown/button", type: "primary", label: "Continue Reading", link: resource.relative_url, icon: "file-text" %}
          </p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>