<div class="columns is-multiline">
  {% for document in collection %}
    <div class="column is-full-mobile is-full-tablet is-half-desktop">
      <div class="box document-entry">
        {% if document.image %}
          <figure class="image is-5by3">
            <a href="{{ document.url }}">
              <img src="{{ document.image }}" />
            </a>
          </figure>
        {% endif %}
    
        <div class="content">
          <h3><a href="{{ document.url }}">{{ document.title | smartify }}</a></h3>
    
          {% if document.subtitle and document.subtitle != "" %}
            {% assign excerpt = document.subtitle | smartify | prepend: "<p>" | append: "</p>" %}
          {% else %}
            {% assign excerpt = document.excerpt %}
          {% endif %}
          {{ excerpt }}
          
          <p>
            {% render "bulmatown/button", type: "primary", label: "Continue Reading", link: document.url, icon: "file-text" %}
          </p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>